




@{
    ViewBag.Title = "Home Page";
}

<script src="~/Content/JavaScript.js"></script>


<!--palindrome array-->
<button onclick="checkPalindrome()">Palindrome?</button>

<button onclick="alphOrder()">Alphabetical?</button>

<button onclick="tringle()">Tringle</button>


<button onclick="luckyNumber()">Lucky Number</button>